<app-space-background></app-space-background>
<div class="version">
  {{ releaseVersion }}
</div>
<header class="app-header">
  <div class="nav-bar">
    <button
      class="nav-item verbs"
      [class.active]="isVerbsPage"
      (click)="navigateToVerbs()"
    >
      Verbe
    </button>

    <button
      class="nav-item words"
      [class.active]="isWordsPage"
      (click)="navigateToWords()"
    >
      Cuvinte
    </button>

    <button
      class="nav-item books"
      [class.active]="isBooksPage || isBookPage"
      (click)="navigateToBooks()"
    >
      Cărți
    </button>

    @if (!isProductionEnvironment) {
      <button
        class="nav-item diagnostics"
        [class.active]="isDiagnosticsPage"
        (click)="navigateToDiagnostics()"
      >
        Diagnostics
      </button>
    }
  </div>
</header>
<router-outlet></router-outlet>
