<div class="search-bar">
  <input type="text" [(ngModel)]="searchText" placeholder="Search verbs..." />
</div>
<div class="grid-container">
  <div class="group-column" *ngFor="let group of groupedVerbs">
    <div class="group-title">{{ group.group }}</div>
    <div class="verb-block" *ngFor="let verb of group.verbs">
      <div class="verb-info">
        {{ verb.infinitive }} | {{ verb.conjugations.prezent.eu }} |
        {{ verb.conjugations.prezent.tu }} |
        {{ verb.conjugations.prezent["el/ea"] }}
      </div>
    </div>
  </div>
</div>
