<div class="reader-container" *ngIf="book; else errorTpl">
  <h3 class="book-title">{{ book.title }}</h3>

  <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
  <div
    class="page-content"
    *ngIf="!loading; else loadingTpl"
    [innerHTML]="pageContent"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
    (mouseup)="translateSelection()"
    (click)="onWordTap($event)"
    #contentWrapper
  ></div>

  <div class="page-navigation">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Înapoi</button>
    <span>Pagina {{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Înainte
    </button>
    <button *ngIf="showLastReadButton" (click)="goToLastRead()">
      Ultima pagină citită
    </button>
  </div>
</div>

<ng-template #loadingTpl>
  <div class="page-content skeleton"></div>
</ng-template>

<div *ngIf="translation" class="copy-toast">
  "{{ selection }} = {{ translation }}"
</div>

<ng-template #errorTpl>
  <div class="error">
    {{ error && !loading ? "Cartea nu a fost găsită" : null }}
  </div>
</ng-template>
