<div class="reader-container" *ngIf="book; else errorTpl">
  <h3 class="book-title">{{ book.title }}</h3>

  <div
    class="page-content"
    *ngIf="!loading; else loadingTpl"
    [innerHTML]="pageContent"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
    (mouseup)="translateSelection()"
    #contentWrapper
  ></div>

  <div class="page-navigation">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Înapoi</button>
    <span>Pagina {{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Înainte
    </button>
    <button *ngIf="showLastReadButton" (click)="goToLastRead()">
      Ultima pagină citită
    </button>
  </div>
</div>

<ng-template #loadingTpl>
  <div class="loading">...</div>
</ng-template>

<div *ngIf="translation" class="copy-toast">
  "{{ selection }} = {{ translation }}"
</div>

<ng-template #errorTpl>
  <div class="error">{{ error || "Cartea nu a fost găsită" }}</div>
</ng-template>
